In [7]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pandas_datareader import data
plt.rcParams['figure.figsize']=[16,9]

from ta import add_all_ta_features
from ta.utils import dropna

In [26]:
"""
Getting data from Yahoo Finance for 100 listed companies

"""


start_date = '2010-01-02'
end_date = '2015-12-31'
tickers = ['AA', 'AAL', 'AMZN', 'AAPL', 'ABT', 'ADM', 'AEM', 'AKS', 'ALL', 'APTV', # 10
              'EXC', 'F', 'STZ', 'EL', 'SPWR', 'KO', 'WMT', 'HD', 'NEE', 'CSX', # 20
              'MCD', 'SPG', 'FSLR', 'NSC', 'HON', 'GOOGL', 'COP', 'MRO', 'C', 'CRM', # 30
              'QCOM', 'GILD', 'CVX', 'FB', 'MRK', 'DE', 'AXP', 'V', 'SPY', 'BA', # 40
              'BAC', 'GS', 'JPM', 'BBY', 'BBBY', 'QQQ', 'BRK-A', 'CAG', 'CE', 'CLB' , # 50
              'CMI', 'JEC', 'MMM', 'DAL', 'DG', 'DHI', 'FCFS', 'ENR', 'FDX', 'NKE', # 60
              'FRO', 'GPS', 'H', 'GWW', 'HES', 'HFC', 'VLO', 'HOG', 'HRB', 'HSY', # 70
              'GE', 'T', 'VZ', 'S', 'UPS', 'JNJ', 'K', 'KBH', 'REV', 'KGC', # 80
              'L', 'LUV', 'LYB', 'AWK', 'PFE', 'PG', 'RCL', 'CCI', 'RIG', 'RTN', # 90
              'SAM', 'SB', 'SBUX', 'SHAK', 'SLB', 'SIX', 'TGT', 'TOL', 'TSN', 'TWTR' # 100
              ]

df = data.DataReader(tickers, 'yahoo', start_date, end_date)

In [27]:
print("No. of missing prices before : {}".format(df.isnull().sum().sum()))
working_days=pd.date_range(start=start_date, end=end_date, freq='B')
prices=df.reindex(working_days)
prices=prices.fillna(method='ffill')
print("No. of missing prices after : {}".format(prices.isnull().sum().sum()))
prices.tail()

No. of missing prices before : 29130
No. of missing prices after : 0

Attributes  Adj Close                                                \
Symbols            AA        AAL        AMZN        AAPL        ABT
2015-12-25  23.979118  41.866833  662.789978  100.440140  41.183479
2015-12-28  23.647394  41.312557  675.200012   99.315170  41.119564
2015-12-29  24.002815  41.570580  693.969971  101.100266  41.840961
2015-12-30  23.600002  40.901627  689.070007   99.780022  41.338722
2015-12-31  23.386749  40.471588  675.890015   97.864746  41.009979

Attributes                                                    ...    Volume  \
Symbols           ADM        AEM   AKS        ALL       APTV  ...       SAM
2015-12-25  31.747391  25.870794  2.30  57.927979  68.530319  ...   70300.0
2015-12-28  31.617451  25.499990  2.23  57.469250  68.798630  ...   72600.0
2015-12-29  32.128532  25.604576  2.27  57.973846  69.153770  ...  195600.0
2015-12-30  31.946619  24.929518  2.21  57.625217  68.293579  ...  112700.0
2015-12-31  31.773369  24.986568  2.24  56.964657  67.654358  ...  100000.0

Attributes                                                                 \
Symbols           SB       SBUX      SHAK        SLB       SIX        TGT
2015-12-25  225800.0  2204300.0  200200.0  2968800.0  276300.0  1097700.0
2015-12-28  315800.0  4437200.0  678700.0  6616900.0  422400.0  2427300.0
2015-12-29  284800.0  5477300.0  447200.0  6987000.0  416400.0  4548300.0
2015-12-30  325300.0  3973900.0  396400.0  5744600.0  274800.0  2143600.0
2015-12-31  283200.0  4960900.0  407800.0  5271100.0  478200.0  3488200.0

Attributes
Symbols           TOL        TSN        TWTR
2015-12-25   905700.0   959400.0   7910500.0
2015-12-28  1264500.0  1515700.0  13746500.0
2015-12-29  1069800.0  1951600.0  11211100.0
2015-12-30  1309100.0  1533500.0  15323700.0
2015-12-31  1056000.0  2338800.0  19479400.0

[5 rows x 600 columns]